body{
    font-family: "Arial";
}
.pokemoncard{
    width: 428px;
    height: 615px;
    border: 15px solid gold;
    background-size: cover;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(1, 1, 1, .1);
    transition: .3s;
    margin-left: 20px;
}
.pokemoncard:hover{
    box-shadow: 20px 20px rgb(1, 1, 1, .3);
}
.cardLine1{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid goldenrod;
}
.paddingRight{
    padding-right: 10px;
}
.noMargin{
    margin: 0px;
}
.cardLine2{
    display: flex;
    justify-content: space-between;
}
.mainImg{
    display: flex;
    margin: auto;
    width: 80%;
    padding: 5px;
    border: 5px solid goldenrod;
    border-style: outset;
    background-image: url("https://image.freepik.com/free-vector/holographic-neon-background_40163-55.jpg");
}
.cardLine3{
    width: 75%;
    background-color: goldenrod;
    background-image: linear-gradient(to right, goldenrod, gold, goldenrod);
    font-weight: bold;
    text-align: center;
    font-size: small;
    font-style: italic;
    margin: auto;
}
.purpletext{
    color: purple;
}

.info{
    margin-top: 10px;
    margin-bottom: 5px;
}

.cardline4{
    width: 80%;
    margin: auto;
    margin-top: 0px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.fire-grid{
    display: grid;
    grid-template-columns: 20px 20px;
    grid-template-rows: 20px 20px;
    place-items: center;
    padding-left: 5px;
    padding-top: 10px;
}
.move{
    display: flex;
    flex-wrap: nowrap;
}
.movedescribe{
    margin-left: 7px;
}
li{
    list-style-type: none;
}
#pokemonfromjs{
    padding: 0px;
    display: flex;
}